.config__buttons {
    display: flex;
    gap: 10px;
}

.btn {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #888888;
    background-color: transparent;
    cursor: pointer;
}

.btn:focus {
    border: 2px solid #F36223;
}

.btn:hover {
    background-color: #F2F2F2;
}

.btn_selected {
    border: 2px solid #F36223;
}

.btn:active {
    border: 2px solid #A93A09;
}