.main {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 50px;
}

.row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.img-row {
    display: flex;
    height: 387px;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 10px;
}

.img-row_big {
    height: 380px;
}

@media (max-width: 1499px) {
    .main {
        padding: 0 15px;
    }

    .img-row {
        height: 279px;
    }

    .img-row_big {
        height: 272px;
    }

}

