.footer {
    background-color: #F2F2F2;
    margin: 0;
}

.footer__text {
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
