.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 50px;
}

.navigation {
    margin-top: 107px;
    margin-bottom: 8px;
}

.link {
    color: #018ad2;
    text-decoration: none;
    cursor: pointer;
}

.link:visited {
    color: #008CF0;
}

.link:hover {
    color: #F36223;
}

.link:active {
    color: #A93A09;
}

@media (max-width: 1499px) {
    .container {
        padding: 0 15px;
    }
}