

.header-section {
    position: fixed;
    right: 50px;
    left: 45px;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 1;
    background: #F8FAFE;
    justify-content: space-between;
}

.header-section__name {
    display: flex;
    gap: 6px;
}

.header-section__logo {
    margin-top: 19px;
    height: 43px;
}

.header-section__title {
    font-size: 44px;
    margin-top: 19px;
    margin-bottom: 0;
}

.header-section__icons {
    display: flex;
    height: 100%;
    /* max-width: 100px; */
    position: relative;
    align-items: center;
}

.heart-icon {
    width: 43px;
    height: 34px;
    position: relative;
    right: 28px;
}

.cart-icon {
    width: 41px;
    height: 39px;
    position: relative;
    right: 0px;
}

/* .heart-number_hidden {
    display: none;
} */

.heart-number {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #F36223;
    border-radius: 50%;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: white;
    background: #F36223;
    box-sizing: border-box;
    right: 0px;
    top: -7px;
    z-index: 1;
}

/* .cart-number_hidden {
    display: none;
} */

.cart-number {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #F36223;
    border-radius: 50%;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: white;
    background: #F36223;
    box-sizing: border-box;
    right: 65px;
    top: -7px;
    z-index: 1;
}

.hidden {
    display: none;
}

@media (max-width: 1499px) {
    .header-section {
        left: 15px;
        right: 15px;
    }
}

@media (max-width: 360px) {
    .header-section {
        left: 10px;
        right: 12px;
    }
    
    .header-section__title {
        font-size: 32px;
        margin-top: 8px;
    }
    .header-section__logo {
        margin-top: 8px;
        height: 30px;
    }
}