:root {
    /* для переменных */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    background: #F8FAFE
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 50px;
}

.header-section {
    position: fixed;
    right: 50px;
    left: 45px;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 1;
    background: #F8FAFE;
    justify-content: space-between;
}

.header-section__name {
    display: flex;
}

.header-section__logo {
    margin-top: 19px;
    height: 43px;
}

.header-section__title {
    font-size: 44px;
    margin-top: 19px;
}

.header-section__icons {
    display: flex;
    height: 100%;
    max-width: 100px;
    position: relative;
    align-items: center;
}

.heart-icon {
    width: 43px;
    height: 34px;
    position: relative;
    right: 28px;
}

.cart-icon {
    width: 41px;
    height: 39px;
    position: relative;
    right: 0px;
}

.heart-number_hidden {
    display: none;
}

.heart-number {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #F36223;
    border-radius: 50%;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: white;
    background: #F36223;
    box-sizing: border-box;
    right: 0px;
    top: -7px;
    z-index: 1;
}

.cart-number_hidden {
    display: none;
}

.cart-number {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #F36223;
    border-radius: 50%;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: white;
    background: #F36223;
    box-sizing: border-box;
    right: 65px;
    top: -7px;
    z-index: 1;
}

/* .counter__heart {
    position: absolute;
    top: -10px;
    right: -5px;
    border-radius: 50%;
    background-color: #F36223;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 3px 5px;
}

.couner__cart {
    position: absolute;
    top: -7px;
    right: -5px;
    border-radius: 50%;
    background-color: #F36223;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 3px 5px;
} */

.color {
    color: #FF5722;
}

.navigation {
    margin-top: 107px;
    margin-bottom: 8px;
}

.link {
    color: #018ad2;
    text-decoration: none;
    cursor: pointer;
}

.link:visited {
    color: #008CF0;
}

.link:hover {
    color: #F36223;
}

.link:active {
    color: #A93A09;
}


.row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

/* Левый блок*/

.left {
    flex: 0 1;
    flex-grow: 1;
    margin-right: 90px;
    max-width: 880px;
    flex-wrap: nowrap;
}

section {
    margin-bottom: 30px;
}

.title-h4 {
    margin-bottom: 15px;
}

/* Изображения телефона */

.img-row {
    display: flex;
    height: 387px;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 10px;
}

.img-row_big {
    height: 380px;
}

/* Цвет товара */

.color-phone__avatars {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.row-avatars {
    display: flex;
    height: 75px;
    width: 65px;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: transparent;
    padding: auto;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.row-avatars.selected {
    border: 2px solid #F36223;
}

.row-avatars:focus {
    border: 2px solid #F36223;
}

.row-avatars:hover {
    background-color: #F2F2F2;
}

.row-avatars:active {
    border: 2px solid #A93A09
}

.small {
    height: 60px;
}

/* Конфигурация памяти */

.config__gb {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.btn {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #888888;
    background-color: transparent;
    cursor: pointer;
}

.btn:focus {
    border: 2px solid #F36223;
}

.btn:hover {
    background-color: #F2F2F2;
}

.btn.selected {
    border: 2px solid #F36223;
}

.btn:active {
    border: 2px solid #A93A09;
}

/* Характеристики товара */

.characteristics__item {
    margin-left: 17px;
    line-height: 1.5;
}

ul li::marker {
    color: gray;
}

.bold {
    font-weight: bold;
}

/* Описание */

.paragraph {
    margin-bottom: 16px;
}

.i {
    font-style: italic;
}

/* Таблица моделей */

.comparison-table__models {
    border-collapse: collapse;
    border: 1px solid #888888;
    width: 876px;
}

.comparison-table__models th,
td {
    padding: 10px;
    border-right: 1px solid #888888;
}

.comparison-table__models th {
    border-bottom: 1px solid #888888;
    text-align: center;
}

.comparison-table__models tr:hover {
    background: #F2F2F2;
}

.comparison-table__models td:hover {
    outline: 2px solid #008CF0;
}

/* Правый блок */

.right {
    flex-wrap: nowrap;
    width: 420px;
    flex-shrink: 0;
}

.adblock {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 275px;
    margin-bottom: 40px;
    font-size: 16px;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.adblock__price {
    display: flex;
    margin-bottom: 10px;

    justify-content: space-between;
}

.block-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.adblock__oldprice {
    text-decoration: line-through;
    color: #888888;
}

.adblock__pricebtn {
    padding: 4px 8px;
    border-radius: 500px;
    border: 1px solid #F36223;
    background-color: #F36223;
    color: white;
}

.adblock__like::after {
    display: inline-block;
    content: '';
    background-image: url(../img/heart_1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1px;
    width: 26px;
    height: 20px;
}

.adblock__like:hover::after {
    display: inline-block;
    content: '';
    background-image: url(../img/heart_3.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1px;
    width: 26px;
    height: 20px;
}

.adblock__like_focus:hover::after {
    display: inline-block;
    content: '';
    background-image: url(../img/heart-fill.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1px;
    width: 26px;
    height: 20px;
}

.adblock__like:active::after {
    display: inline-block;
    content: '';
    background-image: url(../img/heart_2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1px;
    width: 26px;
    height: 20px;
}

.adblock__like_focus::after {
    display: inline-block;
    content: '';
    background-image: url(../img/heart-fill.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1px;
    width: 26px;
    height: 20px;
}

.adblock__newprice {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
}

.adblock__shipping {
    margin-bottom: 10px;
}

.adblock__shipping1 {
    margin-bottom: 20px;
}

.adblock__cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    line-height: 24px;
    margin-top: 15px;
    border: 0;
    border-radius: 4px;
    background-color: #F36223;
    color: white;
    padding: 20px 40px;
    cursor: pointer;
}

.adblock__cart::before {
    display: inline-block;
    content: '';
    background-image: url(../img/cart.svg);
    background-size: contain;
    width: 21px;
    height: 20px;
}

.form__btn::before {
    display: none;
}

.adblock__cart:hover {
    background-color: #DA4A0C;
}

.adblock__cart_choise {
    background: #888888;
}

.adblock__cart_choise:hover {
    background: #888888;
}

.adblock__cart:active {
    background-color: #A93A09;
}

.message-cart_hidden {
    display: none;
}

.message-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    background-color: #141414;
    color: #F8FAFE;
    max-height: 30px;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.9;
    left: 40%;
    right: 40%;
    top: 40%;
    bottom: 40%;
    animation: hide 4s;

}

/* Реклама */

.adblock__rec-color {
    color: #888888;
    font-size: 14px;
    margin-bottom: 10px;
}

.adblock__ifr {
    display: flex;
    border: 1px dashed #ccc;
    margin-bottom: 15px;
}

.ifr__content {
    max-width: 100%;
    height: 300px;
    flex-grow: 2;
}

/* секция с отзывами */

.app {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.margin-bottom-60 {
    margin-bottom: 60px
}

.review-section {
    max-width: 880px;
    flex: 0 1;
    flex-grow: 1;
    flex-wrap: nowrap;
}

.review-section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-section__text {
    display: flex;
    gap: 10px;
}

.review-section__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
}

.review-section__count {
    font-weight: 700;
    font-size: 24px;
    color: #888888;
}

.review-section__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 25px;
}

/* отзыв */
.review {
    display: flex;
    gap: 30px;

}

.review__photo {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
}

.review__name {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
}

.review__rating {
    margin-top: 10px;
}

.review__parameters {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    font-size: 14px;
}

/* Разделитель */

.separator {
    border-top: 2px dashed #888888;
    max-width: 700px;
    margin-left: 170px;
}

/* Подвал */

.footer {
    background-color: #F2F2F2;
    margin: 0;
}

.footer__text {
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.footer__up {}

/* Поле ввода для отзыва */

.form {
    display: flex;
    flex-direction: column;
    /* flex: 0 1;
    flex-grow: 1; */
    flex-wrap: nowrap;
    max-width: 710px;
    margin: 26px 0px 0px 170px;
    padding: 0;
}

.form__content {
    display: flex;
    flex-direction: column;
}

.form__input {
    display: flex;
}

.input-container1 {
    display: flex;
    flex-direction: column;
    width: 68%;
    box-sizing: border-box;
}

.input-container2 {
    width: 5%;
    box-sizing: border-box;
}

.input-container3 {
    display: flex;
    flex-direction: column;
    width: 27%;
    box-sizing: border-box;
}

.input1 {
    display: inline-block;
    flex-grow: 1;
    padding: 15px 20px;
    border: 1px solid #888888;
    width: 100%;
    box-sizing: border-box;
    margin-right: 40px;
    font-size: 16px;
    cursor: pointer;
}

.input1:hover {
    border: 1px solid #000000
}

.input2 {
    padding: 15px 20px;
    border: 1px solid #888888;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    cursor: pointer;
}

.input2:hover {
    border: 1px solid #000000
}

.input-mistake-name {
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
}

.input-mistake-name-color {
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: white;
    background: #DA4A0C;
    padding-left: 20px;
    padding-right: 20px;
}

.input-mistake-grade {
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
}

.input-mistake-grade-color {
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: white;
    background: #DA4A0C;
    padding-left: 20px;
    padding-right: 20px;
}

.textarea {
    width: 100%;
    height: 190px;
    resize: none;
    box-sizing: border-box;
    padding: 15px 20px;
    align-self: stretch;
    font-size: 16px;
    margin-bottom: 40px;
    cursor: pointer;
}

.textarea:hover {
    border: 1px solid #000000
}

input::placeholder,
textarea::placeholder {
    font-size: 16px;
    color: #888888;
    font-family: sans-serif;
}

.form__btn {
    align-self: flex-start;
    text-align: center;
    border: 0;
    border-radius: 4px;
    background-color: #F36223;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.form__btn:hover {
    background-color: #DA4A0C;
}

.form__btn:active {
    background-color: #A93A09;
}

.form__input-text:hover {
    border: 1px solid #000000;
}

.margin-bottom-100 {
    margin-bottom: 100px
}

/* Медиазапросы */

@media (max-width: 1499px) {
    .container {
        padding: 0 15px;
    }

    .header-section {
        left: 15px;
        right: 15px;
    }

    .img-row {
        height: 279px;
    }

    .img-row_big {
        height: 272px;
    }

    .left {
        margin-right: 30px;
    }

    .right {
        width: 360px;
    }

    .adblock {
        height: 313px;
    }

    .comparison-table {
        display: none;
    }

    .review-section {}



    .separator {
        margin-left: 135px;

    }

}

@media (max-width: 1024px) {
    .form {
        max-width: 594px;
        margin-left: 0px;
    }

    .review__photo {
        width: 100px;
        height: 100px;
    }

    .review__rating {
        width: 100px;
        height: 20px;
    }
}