:root {
    font-family: sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    height: 100%;
    width: 100%;
    font-size: 14px;
    color: #888888;
}