/* Правый блок */

.right {
    flex-wrap: nowrap;
    width: 420px;
    flex-shrink: 0;
}

.adblock {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 275px;
    margin-bottom: 40px;
    font-size: 16px;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.adblock__price {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.block-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.adblock__oldprice {
    text-decoration: line-through;
    color: #888888;
}

.adblock__pricebtn {
    padding: 4px 8px;
    border-radius: 500px;
    border: 1px solid #F36223;
    background-color: #F36223;
    color: white;
}

.adblock__like {
    fill: #888888;

}

.adblock__like:hover {
    fill: #F36223;
}

.adblock__like:active {
    fill: #A93A09;
}

.adblock__like::after {
    display: inline-block;
    content: '';
    background-image: url(../../../public/static/heart_1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1px;
    width: 26px;
    height: 20px;
}

.adblock__like:hover::after {
    display: inline-block;
    content: '';
    background-image: url(../../../public/static/heart_3.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1px;
    width: 26px;
    height: 20px;
}

.adblock__like_focus:hover::after {
    display: inline-block;
    content: '';
    background-image: url(../../../public/static/heart-fill.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1px;
    width: 26px;
    height: 20px;
}

.adblock__like:active::after {
    display: inline-block;
    content: '';
    background-image: url(../../../public/static/heart_2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1px;
    width: 26px;
    height: 20px;
}

.adblock__like_focus::after {
    display: inline-block;
    content: '';
    background-image: url(../../../public/static/heart-fill.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1px;
    width: 26px;
    height: 20px;
}

.adblock__newprice {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
}

.adblock__shipping {
    margin-bottom: 10px;
}

.adblock__shipping1 {
    margin-bottom: 20px;
}

.adblock__cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    line-height: 24px;
    margin-top: 15px;
    border: 0;
    border-radius: 4px;
    background-color: #F36223;
    color: white;
    padding: 20px 40px;
    cursor: pointer;
}

.adblock__cart:hover {
    background-color: #DA4A0C;
}

.adblock__cart:active {
    background-color: #A93A09;
}

.adblock__cart::before {
    content: " ";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../../../public/static/cart.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.choise:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
    background: #888888;
    border-radius: 4px;
    box-sizing: border-box;
    border: 0;
    align-self: stretch;
    width: 100%;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}




/* .adblock__cart_choise {
    background: #888888;
}

.adblock__cart_choise:hover {
    background: #888888;
}



.message-cart_hidden {
    display: none;
} */

.message-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    background-color: #141414;
    color: #F8FAFE;
    max-height: 30px;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.9;
    left: 40%;
    right: 40%;
    top: 40%;
    bottom: 40%;
    animation: hide 4s;
}

/* Реклама */

.adblock__rec-color {
    color: #888888;
    font-size: 14px;
    margin-bottom: 10px;
}

.adblock__ifr {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

.ifr__content {
    max-width: 100%;
    height: 300px;
    flex-grow: 2;
    border: 1px dashed #ccc;
}

.sidebar-info__like::after {
    display: inline-block;
    content: '';
    background-image: url(../../../public/static/heart_1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.sidebar-info__like:hover::after {
    display: inline-block;
    content: '';
    background-image: url(../../../public/static/heart_3.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.sidebar-info__like_focus:hover::after {
    display: inline-block;
    content: '';
    background-image: url(../../../public/static/heart-fill.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.sidebar-info__like:active::after {
    display: inline-block;
    content: '';
    background-image: url(../../../public/static/heart_2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.like_choise::after {
    display: inline-block;
    content: '';
    background-image: url(../../../public/static/heart-fill.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.like_choise:hover::after {
    display: inline-block;
    content: '';
    background-image: url(../../../public/static/heart-fill.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    animation: none;
}

/* .like_choise:hover::after {
    display: inline-block;
    content: '';
    background-image: url(public/static/heart-fill.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1px;
    width: 30px;
    height: 30px;
    cursor: pointer; */


@media (max-width: 1499px) {
    .right {
        width: 360px;
    }

    .adblock {
        height: 313px;
    }
}

@media (max-width: 360px) {
    .adblock__rec-color {
        display: none;
    }

    .adblock__ifr {
        display: none;
    }
}