:root {
    /* для переменных */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    background: #F8FAFE
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 50px;
}

.color {
    color: #FF5722;
}

.link {
    color: #018ad2;
    text-decoration: none;
    cursor: pointer;
}

.link:visited {
    color: #008CF0;
}

.link:hover {
    color: #F36223;
}

.link:active {
    color: #A93A09;
}

.row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

/* Левый блок*/

.left {
    flex: 0 1;
    flex-grow: 1;
    margin-right: 90px;
    max-width: 880px;
    flex-wrap: nowrap;
}

section {
    margin-bottom: 30px;
}

.title-h4 {
    margin-bottom: 15px;
}

/* Характеристики товара */

.characteristics__item {
    margin-left: 17px;
    line-height: 1.5;
}

ul li::marker {
    color: gray;
}

.bold {
    font-weight: bold;
}

/* Описание */

.paragraph {
    margin-bottom: 16px;
}

.i {
    font-style: italic;
}

/* Таблица моделей */

.comparison-table__models {
    border-collapse: collapse;
    border: 1px solid #888888;
    width: 876px;
}

.comparison-table__models th,
td {
    padding: 10px;
    border-right: 1px solid #888888;
}

.comparison-table__models th {
    border-bottom: 1px solid #888888;
    text-align: center;
}

.comparison-table__models tr:hover {
    background: #F2F2F2;
}

.comparison-table__models td:hover {
    outline: 2px solid #008CF0;
}


/* Медиазапросы */

@media (max-width: 1499px) {
    .container {
        padding: 0 15px;
    }

    .img-row {
        height: 279px;
    }

    .img-row_big {
        height: 272px;
    }

    .left {
        margin-right: 30px;
    }

    .right {
        width: 360px;
    }

    .adblock {
        height: 313px;
    }

    .comparison-table {
        display: none;
    }

    .review-section {}

    .review__photo {
        width: 100px;
        height: 100px;
    }

    .review__rating {
        width: 100px;
        height: 20px;
    }

    .margin-left {
        margin-left: 0;
    }

    .separator {
        margin-left: 135px;

    }

    .review-form__input-text {
        width: 375px;
    }

    .review-form__input-review {
        width: 594px;
    }
}