.form {
    padding: 0px 0px 0px 170px;
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .form {
        padding: 0;
    }
}

.margin-bottom-100 {
    margin-bottom: 100px
}

.title-h4 {
    margin-bottom: 15px;
}

.form__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0px 0px 15px 0px;
    padding: 0;
    margin-top: 60px;
}

.form__input {
    display: flex;
}

.input__fieldset1 {
    display: flex;
    flex-direction: column;
    width: 68%;
    box-sizing: border-box;
}

.form__name {
    display: inline-block;
    flex-grow: 1;
    padding: 15px 20px;
    border: 1px solid #888888;
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    /* resize: none; */
    font-weight: 500;
    font-size: 16px;
}

.input__fieldset2 {
    width: 5%;
    box-sizing: border-box;
}

.input__fieldset3 {
    display: flex;
    flex-direction: column;
    width: 27%;
    box-sizing: border-box;
}

.form__grade {
    padding: 15px 20px;
    border: 1px solid #888888;
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
}

textarea::placeholder {
    font-weight: 500;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #888888;
}

.form-hover-focus:hover {
    border: 1px solid black;
}

.form-hover-focus:focus {
    outline: 1px solid #f36223;
}

.review__text-author {
    padding: 15px 20px;
    width: 100%;
    height: 190px;
    border: 1px solid #888888;
    resize: none;
    box-sizing: border-box;
    margin-bottom: 40px;
    align-self: stretch;
}

.error-name {
    box-sizing: border-box;
    padding: 15px 20px;
    gap: 10px;
    width: 495px;
    height: 46px;
    background: #DA4A0C;
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
}

.error-blok-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 495px;
    height: 46px;
}

.error-rating {
    box-sizing: border-box;
    padding: 8px 20px;
    gap: 10px;
    width: 175px;
    height: 46px;
    background: #DA4A0C;
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
}

.error-blok-rating {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 175px;
    height: 46px;
}

.hidden {
    display: none;
}

.reviews-form__submit1 {
    box-sizing: border-box;
    padding: 10px 20px;
    background: #F36223;
    border-radius: 4px;
    width: 177px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.reviews-form__submit1:hover {
    background: #DA4A0C;
}


@media (min-width: 1025px) and (max-width: 1499px) {

    .review__string-form,
    .review__text-author {
        width: 100%;
    }

    .review__form {
        width: 100%;
    }

    .review__field-name {
        width: 70%;
    }

    .review__name,
    .review__rating,
    .error-name,
    .error-blok-name,
    .error-rating,
    .error-blok-rating {
        width: 100%;
    }

    .review__field-rating {
        width: 25%;
    }
}

@media (max-width: 1024px) {

    .review__form,
    .review__string-form,
    .review__text-author {
        width: 594px;
    }

    .review__name,
    .error-name,
    .error-blok-name,
    .error-blok-rating {
        width: 379px;
    }

    .review__rating,
    .error-rating {
        width: 175px;
    }
}