/* Цвет товара */

.product-color {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin: 0 0 30px 0;
}

.product-color__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0px;
    padding: 0px;
}

.title-h4 {
    margin-bottom: 15px;
}

section {
    margin-bottom: 30px;
}

.product-color__images {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
}

.product-color__img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    border: 2px solid transparent;
    outline: 1px solid #888888;
    border-radius: 4px;
    height: 80px;
    width: 80px;
    box-sizing: border-box;
    cursor: pointer;
}

@media (max-width: 360px) {
    .product-color__img {
        height: 60px;
        width: 60px;
    }

}

.product-color__img_selected {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    border-radius: 4px;
    height: 80px;
    width: 80px;
    box-sizing: border-box;
    cursor: pointer;
    border: 2px solid transparent;
    outline: 2px solid #F36223;
}

.product-color__img:hover,
.product-color__img_selected:hover {
    background-color: #F2F2F2;
}

.product-color__img:active,
.product-color__img_selected:active {
    border: 2px solid transparent;
    outline: 2px solid #A93A09;
    border-radius: 4px;
    box-sizing: border-box;
}

.img-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}