.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    height: 85vh;
    width: 1400px;
    margin: auto;

}

.text {
    width: 453px;
    height: 57px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    
}

.link-page {
    width: 228px;
    height: 19px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    color: #008CF0;
}

@media (max-width: 1499px) {
    .main-page {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .main-page {
        width: 994px;
    }
}